<nb-layout center>
  <nb-layout-header>Reddit Lite</nb-layout-header>
  <nb-layout-column >
        <nb-card  class="card">
          <nb-card-body class="example-items-col">
            <input type="text" nbInput fullWidth placeholder="Username" class="input-field">
            <input type="password" nbInput fullWidth  placeholder="Password" class="input-field">
            <button nbButton status="primary" class="btn">Register</button>
          </nb-card-body>
        </nb-card>
  </nb-layout-column>
</nb-layout>
