.card {
  //width: 300px;
  align-items: center;
  width: 500px;
  height: 250px;
  margin-left: 180px;
  margin-top: 250px;
}

.btn {
  margin-top:20px;
  background-color: green;
}



#outer {
  margin-top: 250px;
  width:100%;
  display: flex;
  justify-content: center;
}

.input-field {
  margin-top: 30px
}
